In [108]:
import pandas as pd
import  numpy as np

<hr>

# Poblacion

In [81]:
poblacion = pd.ExcelFile(r"Datasets_adicionales/PDE.xlsx")

In [82]:
poblacion.sheet_names

['PDE',
 '2022',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 'Ficha Técnica']

In [83]:
a2016 = poblacion.parse("2016",header=1)
a2017 = poblacion.parse("2017",header=1)
a2018 = poblacion.parse("2018",header=1)
a2019 = poblacion.parse("2019",header=1)
a2020 = poblacion.parse("2020",header=1)
a2021 = poblacion.parse("2021",header=1)

In [84]:
a2016 = a2016["Población"][1]
a2017 = a2017["Población"][1]
a2018 = a2018["Población"][1]
a2019 = a2019["Población"][1]
a2020 = a2020["Población"][1]
a2021 = a2021["Población"][1]

In [85]:
a2016

3059122

In [86]:
pob_BA = pd.DataFrame([a2016,a2017,a2018,a2019,a2020,a2021],index=["2016","2017","2018","2019","2020","2021"],columns=["poblacion"])

In [87]:
pob_BA

      poblacion
2016    3059122
2017    3063728
2018    3068043
2019    3072029
2020    3075646
2021    3078836

In [88]:
pob_BA = pob_BA.reset_index()

In [89]:
pob_BA = pob_BA.rename(columns={'index': 'anio'})

In [90]:
pob_BA

   anio  poblacion
0  2016    3059122
1  2017    3063728
2  2018    3068043
3  2019    3072029
4  2020    3075646
5  2021    3078836

In [91]:
pob_BA.to_csv(r"Datasets_adicionales/poblacion_año.csv")

<hr>

In [92]:
homicidios_hechos = pd.read_excel(r"Datasets/homicidios.xlsx",sheet_name="HECHOS")

In [93]:
homicidios_hechos['SEMESTRE'] =homicidios_hechos['MM'].apply(lambda x: 1 if x in [1, 2, 3, 4, 5, 6] else 2)

In [94]:
homicidios_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO,SEMESTRE
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,1
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,1
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,1
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,1
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,2
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,2
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,2
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,2
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,2

In [95]:
homicidios_hechos["AAAA"].dtype

dtype('int64')

In [96]:
homicidios_hechos = homicidios_hechos.groupby(['AAAA', 'SEMESTRE'])['N_VICTIMAS'].sum().reset_index()

In [97]:
homicidios_hechos

    AAAA  SEMESTRE  N_VICTIMAS
0   2016         1          65
1   2016         2          81
2   2017         1          69
3   2017         2          71
4   2018         1          70
5   2018         2          79
6   2019         1          57
7   2019         2          47
8   2020         1          31
9   2020         2          50
10  2021         1          55
11  2021         2          42

In [98]:
pob_BA["anio"] = pob_BA["anio"].astype(int)

In [99]:
pob_BA

   anio  poblacion
0  2016    3059122
1  2017    3063728
2  2018    3068043
3  2019    3072029
4  2020    3075646
5  2021    3078836

In [100]:
df_kpi = homicidios_hechos.merge(pob_BA,left_on="AAAA",right_on="anio")

In [101]:
df_kpi

    AAAA  SEMESTRE  N_VICTIMAS  anio  poblacion
0   2016         1          65  2016    3059122
1   2016         2          81  2016    3059122
2   2017         1          69  2017    3063728
3   2017         2          71  2017    3063728
4   2018         1          70  2018    3068043
5   2018         2          79  2018    3068043
6   2019         1          57  2019    3072029
7   2019         2          47  2019    3072029
8   2020         1          31  2020    3075646
9   2020         2          50  2020    3075646
10  2021         1          55  2021    3078836
11  2021         2          42  2021    3078836

In [102]:
df_kpi['tasa'] = (df_kpi['N_VICTIMAS'] / df_kpi['poblacion']) * 100000

In [103]:
df_kpi

    AAAA  SEMESTRE  N_VICTIMAS  anio  poblacion      tasa
0   2016         1          65  2016    3059122  2.124793
1   2016         2          81  2016    3059122  2.647819
2   2017         1          69  2017    3063728  2.252158
3   2017         2          71  2017    3063728  2.317438
4   2018         1          70  2018    3068043  2.281585
5   2018         2          79  2018    3068043  2.574931
6   2019         1          57  2019    3072029  1.855451
7   2019         2          47  2019    3072029  1.529933
8   2020         1          31  2020    3075646  1.007918
9   2020         2          50  2020    3075646  1.625675
10  2021         1          55  2021    3078836  1.786389
11  2021         2          42  2021    3078836  1.364152

In [104]:
df_kpi['tasa_anterior'] = df_kpi['tasa'].shift(periods=1, fill_value=0)

In [105]:
df_kpi

    AAAA  SEMESTRE  N_VICTIMAS  anio  poblacion      tasa  tasa_anterior
0   2016         1          65  2016    3059122  2.124793       0.000000
1   2016         2          81  2016    3059122  2.647819       2.124793
2   2017         1          69  2017    3063728  2.252158       2.647819
3   2017         2          71  2017    3063728  2.317438       2.252158
4   2018         1          70  2018    3068043  2.281585       2.317438
5   2018         2          79  2018    3068043  2.574931       2.281585
6   2019         1          57  2019    3072029  1.855451       2.574931
7   2019         2          47  2019    3072029  1.529933       1.855451
8   2020         1          31  2020    3075646  1.007918       1.529933
9   2020         2          50  2020    3075646  1.625675       1.007918
10  2021         1          55  2021    3078836  1.786389       1.625675
11  2021         2          42  2021    3078836  1.364152       1.786389

In [106]:
df_kpi['variacion_tasa'] = (df_kpi['tasa'] - df_kpi['tasa_anterior']) / df_kpi['tasa_anterior'] * 100

In [107]:
df_kpi

,AAAA,SEMESTRE,N_VICTIMAS,anio,poblacion,tasa,tasa_anterior,variacion_tasa
0,2016,1,65,2016,3059122,2.124793,0.000000,inf
1,2016,2,81,2016,3059122,2.647819,2.124793,24.615385
2,2017,1,69,2017,3063728,2.252158,2.647819,-14.942882
3,2017,2,71,2017,3063728,2.317438,2.252158,2.898551
4,2018,1,70,2018,3068043,2.281585,2.317438,-1.547113
5,2018,2,79,2018,3068043,2.574931,2.281585,12.857143
6,2019,1,57,2019,3072029,1.855451,2.574931,-27.941719
7,2019,2,47,2019,3072029,1.529933,1.855451,-17.543860
8,2020,1,31,2020,3075646,1.007918,1.529933,-34.120120
9,2020,2,50,2020,3075646,1.625675,1.007918,61.290323
10,2021,1,55,2021,3078836,1.786389,1.625675,9.886028
11,2021,2,42,2021,3078836,1.364152,1.786389,-23.636364

In [110]:
df_kpi['variacion_tasa'] = df_kpi['variacion_tasa'].replace([np.inf, -np.inf], 0)

In [112]:
df_kpi = df_kpi.round({'variacion_tasa': 2})

In [161]:
df_kpi = df_kpi.tail(2)

In [162]:
df_kpi

,AAAA,SEMESTRE,N_VICTIMAS,anio,poblacion,tasa,tasa_anterior,variacion_tasa
10,2021,1,55,2021,3078836,1.786389,1.625675,9.89
11,2021,2,42,2021,3078836,1.364152,1.786389,-23.64

In [167]:
df_kpi.to_csv(r"Datasets_adicionales/tasa_hc_semestre.csv",sep=";")

<hr>

In [168]:
homicidios_hechos = pd.read_excel(r"Datasets/homicidios.xlsx",sheet_name="HECHOS")

In [169]:
homicidios_hechos = homicidios_hechos[homicidios_hechos["VICTIMA"] == "MOTO"]

In [170]:
kpi_motos = homicidios_hechos.groupby("AAAA")["N_VICTIMAS"].sum().reset_index()

In [171]:
kpi_motos

   AAAA  N_VICTIMAS
0  2016          65
1  2017          56
2  2018          57
3  2019          50
4  2020          28
5  2021          46

In [172]:
kpi_motos["N_VICTIMAS_ANTERIOR"] = kpi_motos["N_VICTIMAS"].shift(periods=1, fill_value=0)

In [173]:
kpi_motos["variacion_victimas_moto"] = (kpi_motos["N_VICTIMAS"] - kpi_motos["N_VICTIMAS_ANTERIOR"]) / kpi_motos["N_VICTIMAS_ANTERIOR"] * 100

In [174]:
kpi_motos

   AAAA  N_VICTIMAS  N_VICTIMAS_ANTERIOR  variacion_victimas_moto
0  2016          65                    0                      inf
1  2017          56                   65               -13.846154
2  2018          57                   56                 1.785714
3  2019          50                   57               -12.280702
4  2020          28                   50               -44.000000
5  2021          46                   28                64.285714

In [175]:
kpi_motos["variacion_victimas_moto"] = kpi_motos["variacion_victimas_moto"].replace([np.inf, -np.inf], 0)

In [176]:
kpi_motos = kpi_motos.round({"variacion_victimas_moto": 2})

In [177]:
kpi_motos = kpi_motos.tail(2)

In [178]:
kpi_motos

   AAAA  N_VICTIMAS  N_VICTIMAS_ANTERIOR  variacion_victimas_moto
4  2020          28                   50                   -44.00
5  2021          46                   28                    64.29

In [179]:
kpi_motos.to_csv(r"Datasets_adicionales/Tasa_hc_moto.csv", sep=";")